<div class="jumbotron">
  <h1 class="text-center">Complete photo app</h1>
  <p class="lead text-center">Feel free to sign up.</p>
  <p>Don't forget that you'll have to use a real email address
  because a confirmation email will need to be sent to you.</p>

  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-large btn-primary' %>
</div>
